$search-box-width: 250px;

.search {
  display: flex;
  align-items: center;

  .search-input {
    width: $search-box-width;
    float: left;
    margin-right: 15px;

    input {
      border: none;
      border-bottom: 1px solid #ddd;
      border-radius: 0px;
      border-bottom: solid 1px transparent !important;

      &:focus {
        border-bottom: solid 1px $brand-secundary !important;
      }
    }

    .searchResults {
      z-index: 9999;
      position: absolute;
      background-color: #fefefe;
      border: 2px solid #aaa;
      border-top: none;
      width: $search-box-width;
      -webkit-box-shadow: 0px 5px 15px 1px rgba(0, 0, 0, 0.35);
      -moz-box-shadow: 0px 5px 15px 1px rgba(0, 0, 0, 0.35);
      box-shadow: 0px 5px 15px 1px rgba(0, 0, 0, 0.35);
      padding-bottom: 10px;

      &.ng-enter {
        animation: fadeIn 0.5s;
      }

      .result {
        &.ng-enter {
          animation: fadeIn 0.5s;
        }

        &:first-child {
          .entity {
            padding-top: 20px;
          }
        }

        hr {
          margin-top: 5px;
          margin-bottom: 5px;
        }

        .entity {
          padding: 5px 15px;
          font-weight: bold;
          text-align: left;
          text-transform: uppercase;
          // letter-spacing: 1.5px;
          color: #111;
        }

        p {
          margin-bottom: 0px;
        }

        .result-label {
          padding: 5px 15px;
          cursor: pointer;
          transition: all .1s linear;
          color: #777;

          &:hover {
            color: #fff;
            background-color: $brand-secundary;
            transition: all .1s linear;
          }
        }
      }
    }
  }

  .filters {
    float: left;
    padding-left: 5px;
    display: flex;

    .filter {
      border: 1px solid $brand-secundary;
      display: inline-block;
      padding: 4px 10px;
      // margin-top: 5px;
      border-radius: 30px;
      background-color: $brand-secundary;
      color: #eee;
      white-space: nowrap;

      &:nth-child(even) {
        margin: 0 5px;
      }

      &::selection {
        background-color: red;
      }

      .remove-filter {
        cursor: pointer;
        padding: 0 3px;
      }
    }
  }
}
