.tree {
  .tree-node {
    cursor: pointer;
  }

  .fa.hidden {
    visibility: hidden !important;
    display: inline !important;
  }

  li > ol .tree-node {
    padding: 5px;
    margin: 0;
  }

  .tree-node-content {
    margin: 5px;
    font-weight: normal;
  }

  .tree-handle {
    padding: 10px;
    background: #428bca;
    color: #FFF;
    margin-right: 10px;
  }

  .angular-ui-tree-handle:hover {

  }

  .angular-ui-tree-placeholder {
    background: #f0f9ff;
    border: 2px dashed #bed2db;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  .node-title {
    flex-grow: 6;
    line-height: 30px;
    cursor: pointer;

    small + & {
      padding-left: 40px;
    }
  }

  .node-description {
    font-size: 12px;
    // line-height: 1.4;
    color: #aaa;
    font-style: italic;
    // cursor: pointer;
    // margin-right: 100px;
    // padding-left: 48px;
    // display: block;
  }

  .row-separator {
    width: 200vw;
    background-color: #ddd;
    margin-left: -50vw;
    height: 1px;
  }

  #tree-root {
    overflow-x: hidden;
    min-height: 45px;
  }

  .tree-title {
    display: block;
    font-weight: bold;
    padding: 18px 15px;
    // padding-left: 55px;
    // line-height: 30px;
    // flex-grow: 6;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .btn-add, .btn-remove {
    margin-left: 10vw;
    line-height: 30px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .not-visible {
    visibility: hidden;
  }

  .angular-ui-tree-empty {
    background-color: transparent !important;
    border: none !important;
    background-image: none !important;
    min-height: 30px;
  }

  .filter {
    display: inline-block;
    float: right;
    cursor: pointer;
    margin: 0 10px;

    span {
      cursor: pointer;
    }
  }

  .node-selected-icon {
    margin-top: 11px;
    display: inline-block;
  }
}

.angular-ui-tree-nodes .angular-ui-tree-nodes {
  padding-left: 0px;
  background-color: #f9f9f9;
  border-left: solid 20px darken(#f9f9f9, 5%);
}
