<div class="tree">
  <script type="text/ng-template"
          id="nodes_renderer.html">
    <div class="row-separator"></div>
    <div ui-tree-handle class="tree-node tree-node-content">
      <span>
        <small></small>
        <a ng-click="$parent.toggle(this); $ctrl._toggle(node, $parent.toggle, this)" class="btn btn-link {{ node[$ctrl.childrenField] && node[$ctrl.childrenField].length > 0 || !node[$ctrl.loadedField] || !$ctrl.hideToggle ? '' : 'not-visible' }} {{ $ctrl.toggleBtnClass }}" data-nodrag>
          <span class="fa fa-fw" ng-init="$scope.collapse()" ng-class="{ 'fa-caret-right': collapsed && node[$ctrl.loadedField], 'fa-caret-down': !collapsed && node[$ctrl.loadedField], 'fa-caret-right': !node[$ctrl.loadedField] || collapsed, 'hidden': $ctrl.isFiltered }"></span>
          <!-- || node[$ctrl.childrenField].length == 0 -->
        </a>


        <span ng-click="$ctrl._click(node)" class="node-title {{ $ctrl.labelClass }}" title="{{ node[$ctrl.descriptionField] || node[$ctrl.labelField] }}">
          {{ node[$ctrl.labelField] }}
        </span>

        <small class="text-muted" ng-if="node[$ctrl.childrenField] && !$ctrl.isFiltered">({{
                                                                                         node[$ctrl.childrenField].length
                                                                                         | number }})
        </small>

        <i ng-click="$ctrl._click(node)" class="node-selected-icon fa fa-fw fa-check-circle fa-lg text-success pull-right" ng-if="node.isSelected"></i>

        <!-- <span class="node-description {{ $ctrl.descriptionClass }}" ng-click="$ctrl._click(node);" title="{{ node[$ctrl.descriptionField] }}">({{ node[$ctrl.descriptionField] | s:'prune':[45] }})</span> -->
      </span>

      <div class="pull-right btn-group">
        <a class="btn btn-primary btn-outline {{ $ctrl.addBtnClass }}" data-nodrag ng-click="$ctrl._add(node)" ng-if="!$ctrl.hideAdd" title="Add">
          <i class="fa fa-plus"></i>
        </a>
        <a class="btn btn-primary btn-outline {{ $ctrl.editBtnClass }}" data-nodrag ng-click="$ctrl._edit(node)" ng-if="!$ctrl.hideEdit" title="Edit">
          <i class="fa fa-pencil"></i>
        </a>
        <a class="btn btn-danger btn-outline {{ $ctrl.removeBtnClass }}" data-nodrag ng-click="$ctrl._remove(node)" ng-if="!$ctrl.hideRemove" title="Remove">
          <i class="fa fa-times"></i>
        </a>
      </div>
    </div>

    <ol ui-tree-nodes="" ng-model="node[$ctrl.childrenField]" ng-class="{hidden: collapsed || $ctrl.isFiltered}">
      <li ng-repeat="node in node[$ctrl.childrenField] | strcontain:$ctrl.$scope.filter:$ctrl.labelField" ui-tree-node ng-include="'nodes_renderer.html'"></li>
    </ol>
  </script>

  <div class="tree-node">
    <span class="tree-title {{ $ctrl.titleClass }}">
      <span class="pull-left">{{ $ctrl.title }}</span>

      <div class="filters pull-right">
        <div class="filter btn-link"
             ng-if="$ctrl.showReload"
             ng-click="$ctrl.reloadFn()">
          <span class="fa fa-fw fa-refresh"></span>
          Reload
        </div>
        <div class="filter btn-link"
             ng-if="$ctrl.showFilter_"
             ng-click="$ctrl.toggleFilter()">
          <span class="fa fa-fw fa-filter"></span>
          Filter
        </div>
      </div>
    </span>
  </div>

  <div id="tree-root"
       ng-if="$ctrl.showFilter">
    <div class="row-separator"></div>
    <div class="tree-node tree-node-content">
      <input type="text"
             class="form-control"
             ng-model="$ctrl.filter"
             ng-change="$ctrl.doFilter()" />
    </div>
  </div>

  <div ui-tree
       data-drag-enabled="false"
       id="tree-root"
       cg-busy="$ctrl.$scope.promise">
    <ol ui-tree-nodes
        ng-model="$ctrl.$scope.data_">
      <li ng-repeat="node in $ctrl.$scope.data_"
          ui-tree-node
          ng-include="'nodes_renderer.html'"></li>
    </ol>
  </div>
</div>