<h2 class="padding-xs-left">
  <span ng-switch="$ctrl.category">
    <span ng-switch-when="exhibition-storage">Sistema de exhibición y almacenaje</span>
  </span>
</h2>

<div class="container-fluid margin-bottom">
  <div class="row"
       ng-switch="$ctrl.category">
    <div class="container-fluid"
         ng-switch-when="exhibition-storage">
      <div class="row">
        <div class="col-sm-4 product">
          <img class="product-image"
               src="images/products/exhibition-storage/3.png"
               alt="">
        </div>

        <div class="col-sm-4 product">
          <img class="product-image"
               src="images/products/exhibition-storage/2.png"
               alt="">
        </div>

        <div class="col-sm-4 product">
          <img class="product-image"
               src="images/products/exhibition-storage/1.png"
               alt="">
        </div>
      </div>
    </div>
  </div>
</div>
