#image-uploader {
  .modal-body .row {
    min-height: 280px;
  }

  .current-img {
    width: 100%;
    height: auto;
  }

  .upload-btn-wrapper {
    display: block;
    overflow: hidden;
    width: 100%;
    height: 100%;
    text-align: center;
    border: dashed 1px #aaa;

    .tag {
      position: absolute;
      width: 95%;
      top: calc(50% - 40px);
      color: #999;
    }

    input[type=file] {
      position: absolute;
      outline: none;
      width: 95%;
      height: 100%;
      opacity: 0;
    }
  }
}
