.actions-bar {
  // border-bottom: solid 1px #ddd;
  background-color: #fff;
  padding: 12px 18px;
  @include clearfix();

  .panel > & {
    border: none;
    border-bottom: solid 1px #ddd;
    margin: 0;
  }

  h4 {
    display: inline-block;
    margin-bottom: 0;
    margin-top: 9px;
    color: $text-muted;
  }
}
