.dashboard {
  // overflow: hidden;

  .dashboard-body {
    @include make-container();

    .dashboard-group {
      @include make-row();
      padding: 8px 12px;
      align-items: center !important;
      // border-bottom: 1px solid $gray-lighter;

      .dashboard-input {
        color: $dashboard-text-color;
      }

      .dashboard-highlight {
        font-size: 30px;
        font-family: inherit;
        font-weight: 500;
        line-height: 1.1;
        color: inherit;
      }

      .dashboard-label {
        text-align: right;
        font-weight: bold;
      }

      &:nth-child(even) {
        background-color: #f9f9f9;
      }

      &:first-child {
        // padding-top: 0;
      }

      &:last-child {
        border: none;
        // padding-bottom: 0;
      }
    }

    .dashboard-actions {
      @include make-row();
      padding: 10px 12px;
      // border-bottom: 1px solid $gray-lighter;
      align-items: center !important;
      background-color: $gray-bg;
    }

    .dashboard-image {
      @include make-row();

      a {
        display: block;
        overflow: hidden;
        width: 100%;
        img {
          width: 100%;
          height: auto;
        }
      }
    }
  }

  .wizard {
    // border-bottom: solid 1px $gray-lighter;
    overflow: hidden;

    a {
      padding: 20px 12px 20px;
      display: inline-block;
      text-decoration: none;
      margin-left: 3px;
      text-align: center;
      text-decoration: none;
      color: #333;
      background-color: #fff;
      text-transform: uppercase;
      cursor: pointer;

      &[disabled] {
        pointer-events: none;
      }

      &:hover {
        text-decoration: none;
      }

      &:not(.current):hover {
        background-color: darken(#f5f5f5, 5%);

        &:after {
          border-left-color: darken(#f5f5f5, 5%) !important;
        }
      }

      &:first-child {
        margin-left: 0;
      }

      &.off {
        background-color: darken(#f5f5f5, 15%) !important;
        pointer-events: none;
        color: #777;
        &:after {
          border-left-color: darken(#f5f5f5, 15%) !important;
        }
      }
    }

    &:not(.left-arrow) a:before {
      width: 0;
      height: 0;
      border-top: 30px inset transparent;
      border-bottom: 30px inset transparent;
      border-left: 30px solid transparent;
      position: absolute;
      content: '';
      top: 0;
      left: 0;
    }

    &:not(.left-arrow) a:after {
      width: 0;
      height: 0;
      border-top: 30px inset transparent;
      border-bottom: 30px inset transparent;
      border-left: 30px solid #f5f5f5;
      position: absolute;
      content: '';
      top: 0;
      right: -30px;
      z-index: 2;
    }

    &.left-arrow a:before {
      width: 0;
      height: 0;
      border-top: 30px inset transparent;
      border-bottom: 30px inset transparent;
      border-right: 30px solid #f5f5f5;
      position: absolute;
      content: '';
      top: 0;
      left: -30px;
      z-index: 2;
    }

    &.left-arrow a:after {
      width: 0;
      height: 0;
      border-top: 30px inset transparent;
      border-bottom: 30px inset transparent;
      border-right: 30px solid #ffffff;
      position: absolute;
      content: '';
      top: 0;
      right: 0;
      z-index: 2;
    }

    & a:first-child:before,
    & a:last-child:after {
      border: none;
    }

    & a:last-child:not(.current) {
      // May want another class and the :before rather than using last-child.
      // background-color: $brand-success;
      // color: #FFFFFF;
    }

    &.left-arrow a:last-child:before,
    &.small.left-arrow a:last-child:before {
      border-right-color: #3e95d6;
    }

    & .badge {
      margin: 0 5px 0 18px;
      position: relative;
      top: -1px;
    }

    & a:first-child .badge {
      margin-left: 0;
    }

    & .current,
    & a.progress-current {
      background: $brand-success;
      color: #ffffff;
    }

    & a.current:after,
    & a.progress-current:after {
      border-left-color: $brand-success !important;
    }

    &.left-arrow a.current:before,
    &.left-arrow a.progress-current:before,
    &.small.left-arrow a.current:before,
    &.small.left-arrow a.progress-current:before {
      border-right-color: $brand-success;
    }

    & a.current .badge,
    & a.progress-current .badge {
      background-color: #ffffff;
      color: $brand-success;
    }

    &.small a {
      padding: 19px 0px 19px 25px;
      font-size: 80%;

      &:first-child {
        padding-left: 10px;
      }
      &:last-child {
        padding-left: 15px;
      }
    }

    &.small:not(.left-arrow) a:before {
      border-top: 26px inset transparent;
      border-bottom: 26px inset transparent;
      border-left: 26px solid #ffffff;
    }

    &.small:not(.left-arrow) a:after {
      border-top: 26px inset transparent;
      border-bottom: 26px inset transparent;
      border-left: 26px solid #fff;
      right: -26px;
    }

    &.small.left-arrow a:before {
      border-top: 18px inset transparent;
      border-bottom: 18px inset transparent;
      border-right: 18px solid #f5f5f5;
      left: -18px;
      z-index: 2;
    }

    &.small.left-arrow a:after {
      width: 0;
      height: 0;
      border-top: 18px inset transparent;
      border-bottom: 18px inset transparent;
      border-right: 18px solid #ffffff;
    }

    &.small a:first-child:before,
    &.small a:last-child:after {
      border: none;
    }

    &.small a:first-child {
      border-top-left-radius: $border-radius-base;
    }

    &.small a:last-child {
      border-top-right-radius: $border-radius-base;
    }

    /* IE11 border bug fixes... hooray! */
    _:-ms-fullscreen,
    :root .wizard.small.left-arrow a:before {
      left: -14px;
    }
  }
}

.dashboard-map-container {
  // border: solid 1px $gray-lighter;
  width: 100%;
  .dashboard-map {
    width: 100% !important;
    height: 290px !important;
  }
}
