<div id="comments-modal">
  <div class="modal-header">
    <form name="form"
          ng-submit="$ctrl.comment()"
          autocomplete="off">
      <div class="input-group input-group-lg ui-mention-container">
        <script type="text/ng-template"
                id="'user-mentions.tpl'">
          <ul class="list-group user-search">
            <li mentio-menu-item="person" ng-repeat="person in items" class="list-group-item search-user-result">
              <img class="circle" ng-src="{{ person.profilePicturePath | defaultImage }}">
              <span>
                {{ person.name }} (@{{ person.username }})
              </span>
            </li>
          </ul>
        </script>

        <input type="text"
               class="form-control"
               ng-model="$ctrl.newComment"
               placeholder="Write something..."
               autofocus
               required
               ng-disabled="$ctrl.isSaving || !$ctrl.session.can('comment', 'create')"
               maxlength="300"
               mentio
               mentio-typed-text="typedTerm"
               mentio-items="$ctrl.acUsers | filter:label:typedTerm"
               mentio-search="$ctrl.typeaheadUsers(term)"
               mentio-template-url="'user-mentions.tpl'"
               mentio-select="$ctrl.selectUser(item)">
        <span class="input-group-btn">
          <button class="btn btn-success"
                  type="submit"
                  ng-disabled="form.$invalid || $ctrl.isSaving || !$ctrl.session.can('comment', 'create')">
            <i class="fa fa-fw fa-paper-plane"></i>
          </button>
        </span>
      </div>
    </form>
  </div>

  <div class="modal-body"
       cg-busy="{ promise: $ctrl.loadingPromise, message: $ctrl.isSaving ? 'Sending...' : 'Loading...' }">
    <div class="comments">
      <div class="comment"
           ng-repeat="comment in $ctrl.comments.content">
        <img class="profile-pic circle"
             ng-src="{{ comment.user.profilePicturePath | defaultImage }}"
             alt="">
        <div class="comment-content">
          <strong>{{ comment.createdBy }}</strong>
          <small class="text-muted">{{ comment.createdAt | date:'dd/MMM/yyyy @ HH:mm' }}</small>
          <p compile="comment.text | mentions"></p>
        </div>
      </div>
    </div>

    <not-found expression="$ctrl.emptyComments()"
               message="There are no comments yet."></not-found>
  </div>

  <div class="modal-footer">
    <div class="pull-left hug"
         ng-show="!$ctrl.emptyComments()"
         uib-pagination
         direction-links="false"
         force-ellipses="true"
         max-size="10"
         items-per-page="$ctrl.paging.size"
         total-items="$ctrl.paging.totalElements"
         ng-model="$ctrl.paging.page"
         ng-change="$ctrl.changePage()"></div>

    <button class="btn btn-danger btn-outline"
            type="button"
            ng-click="$ctrl.close()">Close</button>
  </div>
</div>