.navbar {
  height: $navbar-height !important;
  min-height: 0px !important;
  background-color: #00214A;
  border: none;
  margin-bottom: 0px !important;
  // margin-left: -1px;

  border-top: 10px solid #0053BA !important;
  border-bottom: 5px solid #0053BA !important;

  .dropdown-toggle[aria-expanded='true'] {
    color: darken(#F5C502, 10%) !important;
  }

  .navbar-toggle {
    color: #ccc;
  }

  .navbar-collapse {
    @media (max-width: 768px) {
      margin-top: 10px;
    }
  }

  .nav .open > a {
    background-color: darken(#00214A, 5%) !important;
  }

  .navbar-right {
    background-color: #00214A;

    @media (min-width: 768px) {
      margin-top: 30px;
    }

    & > li {
      a {
        color: #ccc;
        text-transform: uppercase;
      }

      &.active a {
        color: #F5C502 !important;
      }

      & a:focus {
        background-color: transparent;
      }

      &[aria-expanded='true'] a {
        color: $brand-primary !important;
      }

      &:not(.open):hover a {
        background-color: transparent !important;
      }

      .dropdown-menu {
        background-color: darken(#00214A, 5%);

        a {
          color: #ccc !important;

          &:hover {
            color: #F5C502 !important;
          }
        }
      }
    }
  }

  .navbar-brand {
    margin: 0;
    padding: 5px 10px;
    padding-left: 20px;

    img {
      height: 100px;
    }
  }
}
