.navbar {
  height: $navbar-height !important;
  min-height: 0px !important;
  background-color: #00214A;
  border: none;
  margin-bottom: 0px !important;
  // margin-left: -1px;

  border-top: 10px solid #0053BA !important;
  border-bottom: 5px solid #0053BA !important;

  .dropdown-toggle[aria-expanded='true'] {
    color: darken(#F5C502, 10%) !important;
  }

  &.navbar-fixed-top {
    border: none;
  }

  .navbar-right {
    height: $navbar-height - 10px;
    display: flex;
    align-items: flex-end;

    & > li {
      // height: $navbar-height;

      & > a {
        // height: $navbar-height;
        line-height: $font-size-small * 2;
        font-size: $font-size-small * 1.1;
        color: #fefefe !important;

        text-transform: uppercase;

        &.active {
          //background-color: darken($brand-primary, 10%);
          color: #F5C502 !important;

          .text-underline-effect {
            height: 5px;
            width: 100%;
            border-radius: 5px;
            //background-color: $brand-primary;
            background: linear-gradient(
              to right,
              $brand-primary 10%,
              lighten($brand-primary, 30%),
              $brand-primary 90%
            );
          }
        }

        &:focus {
          background-color: transparent;
          outline: none;
          border: none;
        }

        &[aria-expanded='true'] {
          color: $brand-primary !important;
        }

        &:hover {
          color: #ccc !important;
          background-color: transparent !important;
        }
      }
    }
  }

  .navbar-header {
    display: flex;
    align-items: center;
    margin-left: -($grid-gutter-width / 2);
  }

  .navbar-brand {
    margin: 0;
    margin-top: 5px;
    padding: 5px 10px;
    height: 100px;
  }

  .profile-pic {
    float: left;
    display: inline-block;
    margin-right: 8px;
    height: 30px;
    width: 30px;
    margin-top: -5px;
    margin-bottom: -5px;
  }

  .container-fluid:first-child {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .languages {
    background-color: red;
    position: absolute;
    top: 0;
    right: 0;
  }
}

.navbar-aside {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
