<nav class="navbar navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button"
              class="navbar-toggle margin-xl-right"
              data-toggle="collapse"
              data-target="#navbar"
              aria-expanded="false"
              aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span> <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <img class="navbar-brand pointer"
           src="images/GIGA.svg"
           alt="MetalGiga"
           title="MetalGiga"
           ui-sref="home" />
    </div>

    <div class="collapse navbar-collapse"
         id="navbar">
      <ul class="nav navbar-nav navbar-right">
        <li ng-repeat="item in $ctrl.availableOptions">
          <a ng-class="{ 'active': $ctrl.currentlyAt == item.sref }"
             href="">

            <span ng-if="!item.submenu"
                  ui-sref="{{ item.sref }}">{{ item.label }}</span>

            <span ng-if="item.submenu"
                  uib-dropdown
                  is-open="productDropdownOpen">
              <span uib-dropdown-toggle>
                {{ item.label }} <span class="caret"></span>
              </span>
            </span>

            <!-- <div ng-if="item.submenu"
                 uib-dropdown
                 is-open="productDropdownOpen">
              <a href=""
                 uib-dropdown-toggle
                 ng-disabled="disabled">
                {{ item.label }} <span class="caret"></span>
              </a>
              <ul class="dropdown-menu"
                  uib-dropdown-menu
                  role="menu"
                  aria-labelledby="single-button">
                <li role="menuitem"><a href="#">Action</a></li>
                <li role="menuitem"><a href="#">Another action</a></li>
                <li role="menuitem"><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li role="menuitem"><a href="#">Separated link</a></li>
              </ul>
            </div> -->
          </a>
        </li>
      </ul>
    </div>
  </div>

  <!-- <div class="languages"><i class="fa fa-fw fa-globe"></i> ES</div> -->
</nav>
