#uploader {
  .editable-input {
    width: 100%;
  }
  
  .attachment-file {
    margin-bottom: 10px;
    @include clearfix();

    .attachment-icon {
      float: left;
    }

    .attachment-info {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;

      .attachment-name {
        display: inline-block;
        font-weight: bold;
      }

      .attachment-tag {
        display: inline-block;
        margin-top: 5px;
        border-bottom: none;
        cursor: pointer;
      }
    }
  }

  .attachment-preview {
    border: 1px dashed #ddd !important;
    padding: 15px 10px 15px 0;
  }

  .drop-box {
    background: #fff;
    border: 1px dashed #DDD;
    width: 100%;
    // height: 100px;
    text-align: center;
    padding: 30px;
    margin-bottom: 10px;
    p {
      margin: 0;
    }
  }

  .dragover {
    border: 5px dashed #ddd !important;
  }

  .input-file-custom {
    display: none !important;
  }

  .link-file {
    cursor: pointer;
  }

  .load-file {
    margin-top: 20px;
  }

  .progress {
    width: 100%;
    height: 7px;
    margin: 5px 0 0;
  }
}


