body {
  overflow-x: hidden;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

home {
  & > div {
    overflow-x: hidden;
  }

  .bg-image {
    width: 100vw;
    height: 100vh;
    background-image: url(../images/home-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    position: absolute;
    z-index: -1;
  }

  #homeActor {
    color: #ddd;

    &::after {
      content: '|';
      animation: blink 1000ms infinite;
    }
  }

  .main-title {
    font-size: 72px;
    font-weight: 200;
  }

  .main-subtitle {
    min-height: 51px;
    font-size: 36px;
    font-weight: bold;
    text-transform: uppercase;
  }

  .parallax {
    //background-image: url(https://st.depositphotos.com/2389105/3076/i/950/depositphotos_30768187-stock-photo-old-desolate-metallurgical-firm-inside.jpg);
    background-color: #eee;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .image-effect-1 {
    box-shadow: 10px 10px 30px 3px rgba(0, 0, 0, 0.3);
    border: 1px solid $brand-primary;
    padding: 20px;
    border-style: dashed;
    border-radius: 30px;

    @media (max-width: 768px) {
      box-shadow: none;
      padding: 0px;
      border: none;
      border-radius: 10px;
    }
  }

  .mission {
    &.bg {
      background-image: url(../images/mission-bg.jpg);
      background-size: cover;
      background-position: center;
    }

    .col-sm-6 {
      .fw {
        min-height: 350px;
        background-color: #f5f5f5;
      }
    }

    h3 {
      text-transform: uppercase;
      letter-spacing: 2px;
      color: lighten($brand-primary, 15%);
    }
  }

  .our-company {
    &.bg {
      background-image: url(../images/our-company-bg.jpg);
      background-size: cover;
      background-position: center;
    }

    h3 {
      font-size: 48px;
      letter-spacing: 2px;
      text-transform: uppercase;
      margin-top: 30px;
    }

    p {
      margin-top: 90px;
      margin-bottom: 90px;
      text-align: justify;
      width: 50%;
      font-size: 16px;
    }
  }

  .client {
    @media (max-width: 768px) {
      margin-top: 40px;
      margin-bottom: 40px;

      &:last-child {
        margin-bottom: 0px;
      }
    }

    img {
      width: 100%;
      max-height: 70px;
    }
  }
}
